<div class="footer">
    <div class="copyright">
        <p>Tüm Hakları Saklıdır; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Cevdet Karakulak</a> @DateTime.Now.Year</p>
    </div>
</div>