@using Microsoft.AspNetCore.Antiforgery

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body>    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                        @await Component.InvokeAsync("_LayoutSideBarComponentPartial")                        

                            <div class="email-right-box">
                                                           
                                    @RenderBody()
                                    
                                </div>
                                <!-- panel -->
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("_LayoutFooterComponentPartial")


    @await Component.InvokeAsync("_LayoutScriptComponentPartial")
       
    @RenderSection("Scripts", required: false)
</body>
</html>